@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EuroReview</h1>
    <p class="lead">EuroReview is a site for fellow travelers to read reviews and get tips on destinations across Europe and beyond.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Not sure where to go?</h2>
        <p>
            Click here for helpful tips and descriptions on various countries to visit in Europe.
        </p>
        <p><a class="btn btn-default" href="https://www.ricksteves.com/europe">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Need help packing?</h2>
        <p>Click here to learn how to "pack light and travel happy!</p>
        <p><a class="btn btn-default" href="http://www.transitionsabroad.com/publications/magazine/0211/ricksteves_packlighttravelhappy.shtml">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Traveling Solo?</h2>
        <p>No worries!  Click here to learn about some of the best countries for solo travel.</p>
        <p><a class="btn btn-default" href="http://www.travelandleisure.com/slideshows/best-countries-for-solo-travelers">Learn more &raquo;</a></p>
    </div>
</div>